.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.app-header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  margin-top: 30px;
  margin-left: 10px;
  color: black;
}

.underline {
  border: 1px solid black;
  width: 60rem;
}
